<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Copyright 2004 The Apache Software Foundation

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Session</display-name>
    <description>
       Session
    </description>


  <!-- Define servlets that are included in the example application -->


  <servlet>
    <servlet-name>ShowSessionServlet</servlet-name>
    <servlet-class>ShowSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowItemsServlet</servlet-name>
    <servlet-class>ShowItems</servlet-class>
  </servlet>
<servlet>
    <servlet-name>TomcatTestServlet</servlet-name>
    <servlet-class>servlets.TomcatTest</servlet-class>
  </servlet>
<servlet>
    <servlet-name>Search</servlet-name>
    <display-name>Search</display-name>
    <description></description>
    <servlet-class>servlets.Search</servlet-class>
</servlet>
<servlet>
    <servlet-name>TryToLoginCustomer</servlet-name>
    <display-name>TryToLoginCustomer</display-name>
    <description></description>
    <servlet-class>servlets.TryToLoginCustomer</servlet-class>
</servlet>
<servlet>
    <servlet-name>ShowMovie</servlet-name>
    <display-name>ShowMovie</display-name>
    <description></description>
    <servlet-class>servlets.ShowMovie</servlet-class>
</servlet>
<servlet>
    <servlet-name>ShowStar</servlet-name>
    <display-name>ShowStar</display-name>
    <description></description>
    <servlet-class>servlets.ShowStar</servlet-class>
</servlet>
<servlet>
    <servlet-name>ShowGenre</servlet-name>
    <display-name>ShowGenre</display-name>
    <description></description>
    <servlet-class>servlets.ShowGenre</servlet-class>
</servlet>
<servlet>
	<servlet-name>AdvanceSearch</servlet-name>
	<display-name>AdvanceSearch</display-name>
	<description></description>
	<servlet-class>servlets.AdvanceSearch</servlet-class>
</servlet>
  
  <servlet-mapping>
    <servlet-name>ShowSessionServlet</servlet-name>
    <url-pattern>/ShowSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowItemsServlet</servlet-name>
    <url-pattern>/ShowItems</url-pattern>
  </servlet-mapping>
  


  <servlet-mapping>
    <servlet-name>TomcatTestServlet</servlet-name>
    <url-pattern>/TomcatTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TryToLoginCustomer</servlet-name>
    <url-pattern>/TryToLoginCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMovie</servlet-name>
    <url-pattern>/ShowMovie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowStar</servlet-name>
    <url-pattern>/ShowStar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowGenre</servlet-name>
    <url-pattern>/ShowGenre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdvanceSearch</servlet-name>
  	<url-pattern>/AdvanceSearch</url-pattern>
  </servlet-mapping>


</web-app>
