@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular'), url(/fonts/ProximaNova-Regular.ttf);
}

body,html {
	height: 100%;
	margin: 0;
}

input {
	padding: 0;
	border-radius: 3px;
}

input[type="text"], input[type="password"] {
	padding: 15px;
	border: 2px solid #D8D8D8;
	background: #F7F7F7;
	font-size: 18px;
	font-family: 'Proxima Nova', helvetica;
}

input[type="submit"] {
	height: 56px;
	background: #1C5588;
	border: 0;
	font-size: 22px;
	font-family: 'Proxima Nova', helvetica;
	color: white;
}

input[type="submit"]:hover {
	background: #46749D;
}

.margin40T {
	margin-top: 25px;
}

#wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	background: #1C5588;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

#logoBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#logoFont {
	font-size: 120px;
	font-weight: bold;
	font-family: 'Proxima Nova', helvetica;
	-webkit-font-smoothing: antialiased;
	color: white;
}

#loginBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 350px;
	padding: 40px 40px 40px 40px;
	border-radius: 3px;
	background: white;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4)
}

#loginHeader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-transform: none;
    letter-spacing: 0;
	font-size: 35px;
	font-family: 'Proxima Nova', helvetica;
	letter-spacing: -1.5px;
}

#loginCredentials {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#signUpLink {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 16px;
	font-family: 'Proxima Nova', helvetica;
	color: white;
}