<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Copyright 2004 The Apache Software Foundation Licensed under the Apache 
	License, Version 2.0 (the "License"); you may not use this file except in 
	compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>



	<display-name>project3</display-name>
	<description>
		project3
	</description>
	<filter>
		<filter-name>LoginCheck</filter-name>
		<display-name>LoginCheck</display-name>
		<description></description>
		<filter-class>filters.LoginCheck</filter-class>
	</filter>
	<filter>
		<filter-name>EmployeeCheck</filter-name>
		<display-name>EmployeeCheck</display-name>
		<description></description>
		<filter-class>filters.EmployeeCheck</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginCheck</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeCheck</filter-name>
		<url-pattern>/_dashboard/*</url-pattern>
	</filter-mapping>


	<!-- Define servlets that are included in the example application -->


	<servlet>
		<servlet-name>Search</servlet-name>
		<display-name>Search</display-name>
		<description></description>
		<servlet-class>servlets.Search</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TryToLoginCustomer</servlet-name>
		<display-name>TryToLoginCustomer</display-name>
		<description></description>
		<servlet-class>servlets.TryToLoginCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowMovie</servlet-name>
		<display-name>ShowMovie</display-name>
		<description></description>
		<servlet-class>servlets.ShowMovie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowStar</servlet-name>
		<display-name>ShowStar</display-name>
		<description></description>
		<servlet-class>servlets.ShowStar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowGenre</servlet-name>
		<display-name>ShowGenre</display-name>
		<description></description>
		<servlet-class>servlets.ShowGenre</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProcessShoppingCart</servlet-name>
		<display-name>ProcessShoppingCart</display-name>
		<description></description>
		<servlet-class>servlets.ProcessShoppingCart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TryToCheckout</servlet-name>
		<display-name>TryToCheckout</display-name>
		<description></description>
		<servlet-class>servlets.TryToCheckout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShoppingCart</servlet-name>
		<display-name>ShoppingCart</display-name>
		<description></description>
		<servlet-class>servlets.ShoppingCart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Reports</servlet-name>
		<display-name>Reports</display-name>
		<description></description>
		<servlet-class>servlets.Reports</servlet-class>
	</servlet>
	
	
	
	
	<servlet>
		<servlet-name>MainPage</servlet-name>
		<jsp-file>/main.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<display-name>Dashboard</display-name>
		<description></description>
		<servlet-class>servlets.Dashboard</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TryToLoginEmployee</servlet-name>
		<display-name>TryToLoginEmployee</display-name>
		<description></description>
		<servlet-class>servlets.TryToLoginEmployee</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ShowSchema</servlet-name>
		<jsp-file>/employee/showSchema.jsp</jsp-file>
	</servlet>
<!-- 
	<servlet>
		<servlet-name>AddStar</servlet-name>
		<display-name>AddStar</display-name>
		<description></description>
		<servlet-class>servlets.AddStar</servlet-class>
	</servlet> -->

	<servlet>
		<servlet-name>AddStar</servlet-name>
		<jsp-file>/employee/addStar.jsp</jsp-file>
	</servlet>

<!-- 	<servlet>
		<servlet-name>AddMovie</servlet-name>
		<display-name>AddMovie</display-name>
		<description></description>
		<servlet-class>servlets.AddMovie</servlet-class>
	</servlet> -->


	<servlet>
		<servlet-name>AddMovie</servlet-name>
		<jsp-file>/employee/addMovie.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ProcessAddMovie</servlet-name>
		<display-name>ProcessAddMovie</display-name>
		<description></description>
		<servlet-class>servlets.ProcessAddMovie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProcessAddStar</servlet-name>
		<display-name>ProcessAddStar</display-name>
		<description></description>
		<servlet-class>servlets.ProcessAddStar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchAjax</servlet-name>
		<display-name>SearchAjax</display-name>
		<description></description>
		<servlet-class>servlets.SearchAjax</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainPage</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TryToLoginCustomer</servlet-name>
		<url-pattern>/TryToLoginCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowMovie</servlet-name>
		<url-pattern>/ShowMovie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowStar</servlet-name>
		<url-pattern>/ShowStar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowGenre</servlet-name>
		<url-pattern>/ShowGenre</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessShoppingCart</servlet-name>
		<url-pattern>/ProcessShoppingCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TryToCheckout</servlet-name>
		<url-pattern>/TryToCheckout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShoppingCart</servlet-name>
		<url-pattern>/ShoppingCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reports</servlet-name>
		<url-pattern>/reports/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/_dashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TryToLoginEmployee</servlet-name>
		<url-pattern>/TryToLoginEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowSchema</servlet-name>
		<url-pattern>/_dashboard/ShowSchema</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStar</servlet-name>
		<url-pattern>/_dashboard/AddStar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMovie</servlet-name>
		<url-pattern>/_dashboard/AddMovie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessAddMovie</servlet-name>
		<url-pattern>/_dashboard/ProcessAddMovie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessAddStar</servlet-name>
		<url-pattern>/_dashboard/ProcessAddStar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchAjax</servlet-name>
		<url-pattern>/SearchAjax</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/notFound.jsp</location>
	</error-page>

<!-- <security-constraint>
 <web-resource-collection>
    <web-resource-name>HTTPSOnly</web-resource-name>
    <url-pattern>/*</url-pattern>
 </web-resource-collection>
 <user-data-constraint>
    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
 </user-data-constraint>
</security-constraint> -->

</web-app>
